@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #e6e0e0;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #e6e0e0;
}

h4{
    font-size: 20px;
    color: #e6e0e0;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #241932;
    margin: 15px 0 20px 0;
    font-weight: bolder;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 720;
    padding: 15px 30px;
    color: #341b57;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border:  none;
    outline: none;
    transition: 0.3s;
}

button.white{
    font-size: 13px;
    font-weight: 550;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border:  1px solid #fff;
    outline: none;
    transition: 0.3s;
}

body{
    width: 100%;
}

#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
   background: #fff;
   box-shadow: 3px 5px 15px rgba(0,0,0,0.06);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style:  none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #7046aa;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #7046aa;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("Image/bg1.jpg");
    height: 97vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #241932;
}

#hero button{
    color: #241932;
    border: 0;
    font-weight: bolder;
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    border-radius: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #241932;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 34px rgba(70,62,221,0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
 
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #241932;
    background-color: #fddde4;
}

#feature .fe-box h6:nth-child(2){
     background-color: #fddde4;
}    
#feature .fe-box h6:nth-child(3){
    background-color: #fddde4;
}
#feature .fe-box h6:nth-child(4){
    background-color: #fddde4;
}

#feature .fe-box h6:nth-child(5){
    background-color: #fddde4;
}

#feature .fe-box h6:nth-child(6){
    background-color: #fddde4;
}


#product1{
    text-align: center; 
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e6e0e0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(42, 3, 47, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;;
}

#product1 .pro .des{
    text-align: start;
    color: #241932;
    padding: 10px 0;
}

#product1 .pro .des span{
    font-size: 12px;
    font-weight: bold;
    color: #818186;
}

#product1 .pro .des h4{
    color: #241932;
    padding-top: 7px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .pro .cart{
    bottom: 20px;
    right: 10px;
    position: absolute;
    font-size: 18px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Image/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 17px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;  
}

#banner button:hover{
    background: #9d46aa;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("Image/banner/b17.jpg");
    width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("Image/banner/b10.jpg");
}
#sm-banner h4{
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}
#sm-banner h2{
    color: #fff;
    font-size: 29px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: rgb(250, 199, 111);
    border: 1px solid rgb(250, 199, 111);
}

#sm-banner .banner-box2:hover button{
    background: #088178;
    border: 1px #fff solid ;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("Image/banner/b7.jpg");
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
}

#banner3 h3{
    color: #ed322bea;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2{
    background-image: url("Image/banner/b4.jpg");
}

#banner3 .banner-box3{
    background-image: url("Image/banner/b18.jpg");
}

#newsletter{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
     background-image: url("Image/banner/b14.png");
     background-repeat: no-repeat;
     background-position: 20% 30%;
     background-color: #041e42;
}

#newsletter h4{
    font-size:  22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size:  16px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span  {
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
   align-items: flex-start ;
   margin-bottom: 20px;
} 
footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
}
footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;   
}
footer .follow i{
    color: #5f3d8f;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
   border: 1px solid #088178; 
   border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #341b57;
    font-weight: bolder;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* ---------------------Shop Page -----------------------------------------------*/

#page-header{
    background-image: url("Image/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #341b57;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*------------Single Product-------------------*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 75%;
    margin-right: 50px;
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    color: #241932;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
    color: #088178;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: auto;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 42px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
    font-size: 14px;
}


/*-------------Blog Page---------------------------------*/

#page-header.blog-header{
    background-image: url("Image/banner/b19.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 35%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

#blog .blog-details {
    width: 40%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #5f3d8f;
    font-weight: 700;
}

#blog .blog-details a:hover::after {
    background-color: #5f3d8f;
    font-weight: 700;
}

/*-----------------cart page-----------------------------*/

#page-header.cart-header{
    background-image: url("Image/about/banner.png");
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 150px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 200px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 350px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody  tr td{
    padding-top: 15px;
}

#cart table tbody  tr td{
    padding-top: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 40%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
